cmake-build-debug/
cmake-build-release/
cmake-build-*/

build/
out/
bin/
lib/

.idea/
*.iml

CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
CMakeLists.txt.user

*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out